html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
.description {
  padding: 10px;
}
.container {
  position: relative;
}
.target {
  position: absolute;
  width: 30%; 
  height: 10%;
  top: 10px;
  left: 20px;
  line-height: 20px;
  background: #1e81b0;
  opacity: 0.6;
}
